<div id="main">
    <div id="wrapper">
        <div class="card" style="width: 18rem;" >
            <img src="https://i.postimg.cc/Vvyn3N2d/barbell-curl.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Biceps Curls With SZ-bar</h5>
                <p class="card-text">Hold the SZ-bar shoulder-wide, the back is straight, the shoulders slightly back,
                    the arms are streched. Bend the arms, bringing the weight up, with a fast movement. Without pausing,
                    let down the bar with a slow and controlled movement.


                    content.</p>
                   
            </div>
            <ul class="list-group list-group-flush" >
                <li class="list-group-item" style="background-color: cornflowerblue;"><strong>EQUIPMENT</strong>: SZ-Bar</li>
                <li class="list-group-item"><strong>PRIMARY MUSCLE</strong>: Biceps brachii</li>
            </ul>

        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/8kn8XdTw/00431301-Barbell-Full-Squat-Thighs-720.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Squats</h5>
                <p class="card-text">Make sure you have put the barbell at a height where you can comfortably take it
                    out and put it back in. Take it out and make yourself ready: •The bar is somewhat lower than your
                    shoulders • The feet are quite apart and point out • </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>EQUIPMENT</strong>:

                    Barbell</li>
                <li class="list-group-item"><strong>PRIMARY MUSCLE</strong>:

                    Quadriceps</li>
            </ul>

        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/zvvGFDJV/01081301-Barbell-Standing-Leg-Calf-Raise-Calf-720.gif"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Standing Calf Raises</h5>
                <p class="card-text">

                    Get onto the calf raises machine, you should able to completely push your calves down. Stand
                    straight, don't make a hollow back and don't bend your legs. Pull yourself up as high as you can.
                    Make a small pause of 1 - 2 seconds and go slowly down.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT: Barbell

                </li>
                <li class="list-group-item">PRIMARY MUSCLE: Gastrocnemius</li>
            </ul>

        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/6Q0Xysdq/14561301-Barbell-Standing-Close-Grip-Military-Press-Shoulders-720.gif"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Standing Military Press Narrow</h5>
                <p class="card-text">Hands position in narrow grip. Push barbell overhead. Return to original position
                    in controlled manner. Focus on lower body stability.Hands position in narrow grip. Push barbell
                    overhead Return to original position


            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    Barbell</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Anterior deltoid</li>
            </ul>

        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/d0Pbf2TK/02741301-Crunch-Floor-m-waist-720-1.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">crunches
                </h5>
                <p class="card-text">Sit and lay back on a swiss ball, position feet slightly wider then shoulder width,
                    perform a half-crunch fully engaging the core.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    Swiss Ball</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Biceps femoris</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/Qx65SmwH/11971301-Squat-m-Thighs-720.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Squat</h5>
                <p class="card-text">Perform a squat with no resistance, make sure stance is slightly wider then
                    shoulder width and feet are turned out.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    none (bodyweight exercise)</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Biceps brachii</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/3JD1yPd3/08291301-Walk-high-knees-Cardio-720.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">High Knee Jumps</h5>
                <p class="card-text">-Start with legs slightly wider than shoulder width

                    -Drop into a bodyweight squat

                    -As you hit the bottom of the squat, explode upwards into a jump while simultaneously tucking your
                    knees into your chest midflight. Remain tucked until the apex of your jump.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    Barbell

                </li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    core</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/CMJtwy95/00251301-Barbell-Bench-Press-Chest-FIX-720.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">flat bench press</h5>
                <p class="card-text">On you bench press rack of choice, set-up in flat configuration, use a barbell to
                    press up and down, make sure to have a spotter.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    Barbell</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Pectoralis major</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/1Xs3wgQp/00271301-Barbell-Bent-Over-Row-Back-FIX-720.gif"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bent Over Rowing</h5>
                <p class="card-text">Grab the barbell with a wide grip (slightly more than shoulder wide) and lean
                    forward. Your upper body is not quite parallel to the floor, but forms a slight angle. The chest's
                    out during the whole exercise.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    Barbell</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Latissimus dorsi</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/3RfN28tN/03141301-Dumbbell-Incline-Bench-Press-Chest-360.gif"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dumbbell Incline Curl</h5>
                <p class="card-text">With elbows back to sides, raise one dumbbell and rotate forearm until forearm is
                    vertical and palm faces shoulder. Lower to original position and repeat with opposite arm. Continue
                    to alternate between sides.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    Dumbbell</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Anterior deltoid

                </li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/cLWFp0cr/06621301-Push-up-m-Chest-FIX-720-1.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Push up
                </h5>
                <p class="card-text">Assume a support position, perform a push up, make sure to engage your core while
                    performing each repetition.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    none (bodyweight exercise)</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Pectoralis major

                </li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/KzfqNVTR/17411301-Dumbbell-Standing-Bent-Over-Two-Arm-Triceps-Extension-Upper-Arms-720.gif"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tricep DB Kickback (bilateral)</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    Dumbbell</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Triceps brachii</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/jqgKq31x/08711301-Tuck-Crunch-waist-720.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Crunches With Legs Up</h5>
                <p class="card-text">On your back, legs extended straight up, reach toward your toes with your hands and
                    lift your shoulder blades off the ground and back.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    none (bodyweight exercise)</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Rectus abdominis</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/vHbPjGhD/28521301-Lying-Leg-Lift-Side-Pilates-720.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Side Leg lifts</h5>
                <p class="card-text">Lying on your side, check that your ankles, knees, hips, shoulders, and ears are
                    aligned. Move your legs slightly in front (forming this "banana shape" helps balance and protects
                    your lower back). Prop your head on your hand or stretch your bottom arm out to the side and rest
                    your head on it. Your arm placement is just for balance; you should be engaging your core to lift
                    your legs. </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    none (bodyweight exercise)</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Obliquus externus abdominis</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/nLYV464y/28581301-Roll-Up-VERSION-2-Pilates-720.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Sit-up | Touch Toes | Pilates</h5>
                <p class="card-text">Get on a mat and lie on your back. Contract your abs, stretch your legs out
                    horizontally. Perform a sit-up and touch your toes (or as close as possible) Make sure your lower
                    back remains in contact with the mat.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    Gym mat</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Rectus abdominis</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/8znkth9H/08571301-Wheel-Rollout-Waist-FIX-720-1.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Ab-Wheel Rollout
                </h5>
                <p class="card-text">Place an ab wheel on the floor at your feet. Bending at the waist, grip the barbell
                    with a shoulder with overhand grip. With a slow controlled motion, roll the bar out so that your
                    back is straight. Roll back up raising your hips and butt as you return to the starting position.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    Gym mat</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Obliquus externus abdominis</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/kMZc3Z83/07151301-Side-Plank-m-Waist-720.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Side Plank</h5>
                <p class="card-text">Works your obliques and helps stabilize your spine. Lie on your side and support
                    your body between your forearm and knee to your feet.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    none (bodyweight exercise)</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Obliquus externus abdominis</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/NMxj8Wcy/17631301-Shoulder-Grip-Pull-up-Back-720.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Pull-ups
                </h5>
                <p class="card-text">Grab the pull up bar with a wide grip, the body is hanging freely. Keep your chest
                    out and pull yourself up till your chin reaches the bar or it touches your neck, if you want to pull
                    behind you. Go with a slow and controlled movement down, always keeping the chest out.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    Pull-up bar

                </li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Latissimus dorsi</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/NfKrYjtp/37061301-Squat-Tuck-Jump-Cardio-720.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Squat "tuck" Jumps</h5>
                <p class="card-text">Jump wide, then close</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    none (bodyweight exercise)</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Quadriceps femoris

                </li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/wjLrfNWN/23831301-Handstand-Push-Up-female-Upper-Arms-720.gif"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Wall Handstand Push-up</h5>
                <p class="card-text">Handstand against a wall for support (chest facing wall). Bend aem until fice is
                    6-8 inches from the ground, push back up to handstand position.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    none (bodyweight exercise)

                </li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Anterior deltoid</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/HsgHpTfb/14671301-Push-up-on-Forearms-Upper-Arms-720.gif"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Forearm Push-Ups</h5>
                <p class="card-text">Push Up performed from a support position (optional to have feet elevated) go to
                    prone and push back up. Be careful to push equally with both arms</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    none (bodyweight exercise)</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Pectoralis major</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/SKNCHFSh/12441301-Flutter-Kicks-version-3-Hips-720.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Flutter Kicks
                </h5>
                <p class="card-text">-Laying on the back, lift your straightened legs from the ground at a 45 degree
                    angle.

                    -As your Left foot travels downward and nearly touches the floor, your Right foot should seek to
                    reach a 90 degree angle, or as close to one as possible.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    none (bodyweight exercise)</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Obliquus externus abdominis</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/N0H93g3Z/06771301-Ring-Dips-Upper-Arms-720.gif" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Ring Dips</h5>
                <p class="card-text">Ring Dips. These are a challenge. They require/develop good stabilizer muscles. A
                    dip is an upper-body strength exercise. Narrow, shoulder-width dips primarily train the triceps,
                    with major synergists being the anterior deltoid, the pectoralis muscles (sternal, clavicular, and
                    minor), and the rhomboid muscles of the back (in that order).[1] Wide arm training places additional
                    emphasis on the pectoral muscles, similar in respect to the way a wide grip bench press would focus
                    more on the pectorals and less on the triceps.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">EQUIPMENT:

                    none (bodyweight exercise)</li>
                <li class="list-group-item">PRIMARY MUSCLE:

                    Pectoralis major</li>
            </ul>
        </div>

    </div>
</div>