/* You can add global styles to this file, and also import other style files */

*{
    font-family: "Courier New", monospace;
    color: rgb(255, 255, 255);

}
button{
    color: white;
}
body{
    background-image: url('https://i.postimg.cc/xjhFHtrn/photo-1558611848-73f7eb4001a1.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    margin:0;


}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
